.game_box{
    /* width:45vw;
    height:40vw;
    border-radius: 5px;
    box-shadow: 0rem 0rem 1rem rgb(0,0,0.1);
    margin: 0.5rem; */
    width: 90vw;
    height:80vw;
    border-radius: 5px;
    /* box-shadow: 0rem 0rem 1rem rgb(0,0,0.1); */
    /* margin: 2rem; */
    margin: 1rem;
    background-color: rgb(227, 231, 227);
}
.image_game{
    width:45vw;
    height:20vw;
}

.first{
    display: grid;
    grid-template-columns: 6fr 1fr;
    margin-bottom: 0px ;
}
.game_box h4{
    /* font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.5rem; */

    text-align: left;
    font-size: 0.9rem;
    padding: 0.2rem;
    font-size: medium;
}
.gamelocation{
    /* font-size: 0.75rem;
    margin-left: 1rem; */
    display: flex;
    margin: 0.2rem;
    font-size: 0.75rem;
    margin-bottom: 0px;
    margin-top: 0px;
 
}
.requirement{
    font-size: 0.75rem;
    margin: 0.4rem;
    display: flex;
}

.requirement > p{
    font-size: 15px;
    margin-left: 0.2rem;
    margin-bottom: 0px ;
}
.date{
    display: flex;
    font-size: 0.75rem;
    margin-left: 0.2rem;
    margin-top: 0px;
    margin-bottom: 0px;
}
.join_button{
    width: 85vw;
    height: 8vw;
    margin: 0.5rem;
    justify-content: center;
    align-items: center;
    border:none;
    background-color: rgb(114, 177, 137);
    color:black;
    font-weight: bold;
    border-radius: 5px;
}
.game_icon{
    font-size: 0.75rem;
}