.profilepage{
    background-color: white;
    width:100vw;
}
.profilenamesection{
    height:20vh;
    width:100vw;
    background-color: rgb(114, 177, 137);
    position: absolute;
    left:0;
    top:0;
}
.profilepic{
    width:30vw;
    height:30vw;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top:10vh;
    left:2.5vw;
}
.profilepic img{
    width:30vw;
    height:30vw;
    border-radius: 50%;
}
.upcominggames{
    width:95vw;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(114, 177, 137);
    box-shadow: 0rem 0rem 1rem rgb(0,0,0,0.5);
    height:8vh;
    border-radius: 5px;
    margin-top: 1.2rem;
    text-align: center;
    font-size: 1.2rem;
padding-top:2vh;
color:black;
font-weight: 500;
}
.prevgames{
    width:95vw;
    margin-left: auto;
    margin-right: auto;
    background-color:rgb(114, 177, 137);
    box-shadow: 0rem 0rem 1rem rgb(0,0,0,0.5);
    height:8vh;
    border-radius: 5px;
    margin-top:1.2rem;
    text-align: center;
    font-size: 1.2rem;
    padding-top:2vh;
    color:black;
    font-weight: 500;

}
.graph{
    margin-top:5rem;
    background-color:aliceblue;
    width:90vw;
    margin-left: auto;
    margin-right: auto;
}
.player_id{
    position: absolute;
    top:15vh;
    left:35vw;
    color:black;
    font-weight: bold;
    font-size: 1.2rem;
}
.editIcon{
    position: absolute;
    top:15vh;
    right:5vw;
    font-size: 1.2rem;
    color:black;
}